@charset "UTF-8";
/* CSS Document */

@font-face{
	font-family: 'Noto Sans JP';
	font-style:normal;
	font-weight: 400;
	src:
	local("Noto Sans CJK JP"),	url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
	
}

@font-face{
    font-family: "myfont";
    src: url(../font/anzu/APJapanesefont.woff) format('woff'),
         url(../font/anzu/APJapanesefont.eot) format('eot');
}

html{
	font-size: 62.5%;/*16px×62.5%=10px*/
}

body{
    color: #333333;
    background-color: #f9f7f6;
    font-family: 'Noto Sans JP','Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.85;
    -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

ul{
    list-style: none;
}

a{
    color: #333333;
}

img{
    max-width: 100%;
    height: auto;
}

/* utility */

.inner{
    overflow: hidden;
}

.arc{
    width: 100%;
    height: 320px;
    background: #e48cac;
    min-height: 300px;
    border-bottom-right-radius: 2000px 300px;
    border-bottom-left-radius: 2000px 300px;
    padding-left: 200px;
    padding-right: 200px;

}

.top-title{
    margin: 110px 0 60px;
    width: 200px;
}

.text-center{
    text-align: center;
}
.b-inner{
    padding-bottom: 110px;
}

.inner2{
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper{
    padding: 80px 0 100px;
}

/* top-header */
.top{
    position: relative;
    width: auto;
    height: 710px;
}

.top-ml{
    position: absolute;
    top: 0;
    right: 0;

}

.top-rmc{
    position: absolute;
    bottom: 0;
    left: 0;
}

.text-pc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}

.logo{
    position: absolute;
    top: 12px;
    left: 20px;
    width: 100px;
}

/* navi */
.navi{
    width: auto;
    height: 150px;
    background: #e48cac;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi-item{
    width: 150px;
    height: auto;
}

/* /top-header */
/* header */

.header{
    height: 70px;
    width: 100%;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.navi-list2{
    display: flex;
}

.navi-item{
    width: 100px;
    padding-left: 28px;
}
.header-logo{
    width: 100px;
}

/* トップページ */
/* 更新 */

.news{
    background: #fff;
}
.news-title{
    padding-bottom: 40px;
    font-family: myfont;
    font-size: 4rem;
    color: #e48cac;
}
/* main */
.main-text{
    padding: 40px 0 40px;
}

/* first */

.box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: dashed 2px #333;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2{
    width: 80%;
    padding: 0.5em 1em;
    margin: 60px 30px;
    font-weight: bold;
    border: dashed 2px #e48cac;/*線*/
    border-radius: 10px;/*角の丸み*/

}

.box p{
    padding-bottom: 40px;
}

.box-inner{
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0 90px;
}

.first-title{
    width: 200px;
    padding: 40px 0 10px;
}

.first-item{
    width: 80px;
    height: 200px;
    object-fit: cover;
}
.first-item2{
    width: 120px;
    height: 200px;
    object-fit: contain;
}

.first-list{
    display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap: wrap;
	margin: 0; 
	margin-left: -15px;
	padding: 0;
	font-size: 1rem;
	letter-spacing: 0.1em;
}

.first-y{
    width: 50px;
}

.first01{
    width: 460px;
    height: 300px;
    text-align:center;  
    margin:0 auto;
    
}

.first02{
    width: 480px;
    height: 300px;
    text-align:center;  
    margin:0 auto;
}

.first01-top{
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.first02-top{
    margin: 90px 0 40px;
}
.b-text{
    font-size: 5rem;
}
.section-top2{
    display: flex;
}
.img-24h{
    width: 45%;
}
.topic{
    width: 45%;
}

/* product */

.top-p{
    font-size: 3.6rem;
    color: #e48cac;
    border-bottom: solid 3px #e48cac;
    padding-top: 60px;
}

.p-item{
    box-sizing: border-box;
    width: 24%;
	margin-bottom: 24px;
	padding-left: 15px;
	line-height: 1;

}

.p-item img{
    width: 100%;
    height: 300px;
    object-fit: contain;

}

.p-title{
    display: block;
    font-size: 1.6rem;
}

.p-price{
    display: block;
    margin-bottom: 10px;
}

.pro-wrp{
    margin: 110px 0 110px;
}

/* pickup */

.text-top{
    padding: 110px 0 40px;
}

.box3{
    width: 80%;
    padding: 0.5em 1em;
    margin: 10px auto;
    border: dashed 2px #e48cac;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.list-img{
    box-sizing: border-box;
    width: 50%;
    padding: 20px 10px 10px 10px;
    line-height: 1;
    font-size: 1.6rem;
}

.list-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0 0;
}

.pic-wrp{
    margin: 90px 0 110px;
}
/* footer */

.footer{
    padding: 40px 0 20px;
    background: #e48cac;
}

.pagetop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
}
.footer-logo{
    padding-bottom: 20px;
}


/* sp */
.img-sp{
    display: none;
}