@charset "UTF-8";
/* CSS Document */

@font-face{
	font-family: 'Noto Sans JP';
	font-style:normal;
	font-weight: 400;
	src:
	local("Noto Sans CJK JP"),	url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format('opentype');
	
}

@font-face{
    font-family: "myfont";
    src: url(../font/anzu/APJapanesefont.woff) format('woff'),
         url(../font/anzu/APJapanesefont.eot) format('eot');
}

html{
	font-size: 62.5%;/*16px×62.5%=10px*/
}

body{
    color: #333333;
    background-color: #f9f7f6;
    font-family: 'Noto Sans JP','Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.85;
    -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

ul{
    list-style: none;
}

a{
    color: #333333;
}

img{
    max-width: 100%;
    height: auto;
}

/* utility */


.arc{
    width: 100%;
    height: 320px;
    background: #e48cac;
    min-height: 300px;
    border-bottom-right-radius: 2000px 300px;
    border-bottom-left-radius: 2000px 300px;
    

}

.arc img{
    padding: 110px 0 60px;
    width: 200px;

}

.top-title{
    padding: 110px 0 60px;
    width: 200px;
    height: auto;
    text-align: center;
}

.text-center{
    text-align: center;
}

.inner2{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
}

.wrapper{
    padding: 80px 0 100px;
}

.pc-img{
    display: none;
}
/* top-header */
.top{
    position: relative;
    width: auto;
    height: 710px;
}

.logo2{
    position: absolute;
    top: 20px;
   left: 20px;
}

.top-ml{
    position: absolute;
    top: 80px;
    right: 0;


}

.top-rmc{
    position: absolute;
    bottom: 0;
    left: 0;
}

.text-pc{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 1;
}

/* navi */
.navi{
    width: auto;
    height: 100px;
    background: #e48cac;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navi-item2{
    position: relative;
    width: 100px;
    margin:0 20px 0 20px;

}
.navi-item2::before,
.navi-item2:last-of-type::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: thick dotted #f9f7f6
}

.navi-item2::before {
    left: -20px;
  }
.navi-item2:last-of-type::after {
    right: -20px;
  }


/* /top-header */
/* header */

.header{
	height: 100px;
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding:0 40px;
}
.logo img{
	width: 130px;
	align-items: center;
}
.nav_wrap img{
    height: 70px;
    padding: 0 10px;
}
.nav_wrap li{
	display: inline-block;
}
.nav_button{
	display: none;
}
.nav_wrap.open {
	display: block;
}
.nav_wrap.close{
	display: none;
}


/* トップページ */
/* 更新 */

.news{
    background: #fff;
}
.news-title{
    padding-bottom: 40px;
    font-family: myfont;
    font-size: 4rem;
    color: #e48cac;
}
/* main */
.main-text{
    padding: 40px 0 40px;
}

/* first */

.b-inner{
    padding-bottom: 110px;
}

.box{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: dashed 2px #333;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2{
    width: 80%;
    padding: 0.5em 1em;
    margin: 60px 30px;
    font-weight: bold;
    border: dashed 2px #e48cac;/*線*/
    border-radius: 10px;/*角の丸み*/

}

.box p{
    padding-bottom: 40px;
}

.box-inner{
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0 90px;
}

.first-title{
    width: 200px;
    padding: 40px 0 10px;
}

.first-item{
    width: 80px;
    height: 200px;
    object-fit: cover;
}
.first-item2{
    width: 120px;
    height: 200px;
    object-fit: contain;
}

.first-list{
    display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap: wrap;
	margin: 0; 
	margin-left: -15px;
	padding: 0;
	font-size: 1rem;
	letter-spacing: 0.1em;
}

.first01{
    width: 480px;
    height: 220px;
    text-align:center; 
    margin:0 auto 20px;
    
}

.first02{
    width: 480px;
    height: 220px;
    text-align:center;  
    margin:0 auto;
}

.first03{
    width: 400px;
    height: 220px;
    text-align:center;  
    margin:0 auto;
}

.first-y{
    width: 10.42%;
    line-height: 220px;

}

.first01-top{
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.first02-top{
    margin: 90px 0 40px;
}
.b-text{
    font-size: 4rem;
}
.section-top2{
    display: flex;
}
.img-24h{
    width: 45%;
}
.topic{
    width: 45%;
}

.p-item2{
    box-sizing: border-box;
    width: 16.80%;
	line-height: 1;
}

.p-item3{
    box-sizing: border-box;
    width: 25%;
	line-height: 1;
}


/* product */

.top-p{
    font-size: 3.6rem;
    color: #e48cac;
    border-bottom: solid 3px #e48cac;
    padding-top: 60px;
}

.p-item{
    box-sizing: border-box;
    width: 24%;
	margin-bottom: 24px;
	padding-left: 15px;
	line-height: 1;

}

.p-item img{
    width: 100%;
    height: 300px;
    object-fit: contain;

}

.p-title{
    display: block;
    font-size: 1.6rem;
}

.p-price{
    display: block;
    margin-bottom: 10px;
}

.pro-wrp{
    margin: 110px 0 110px;
}

.pro-navi{
    margin-top: 110px;
}

.btn-product{
    font-family: myfont;
    font-size: 3rem;
    margin: 0 10px;
    
}

.btn-product a{
    color: #e48cac;
}

/* pickup */

.text-top{
    padding: 110px 0 40px;
}

.box3{
    width: 80%;
    padding: 0.5em 1em;
    margin: 10px auto;
    border: dashed 2px #e48cac;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.list-img{
    box-sizing: border-box;
    width: 50%;
    padding: 20px 10px 10px 10px;
    line-height: 1;
    font-size: 1.6rem;
}

.list-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0 0;
}

.pic-wrp{
    margin: 90px 0 110px;
}

.first-list2{
    display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap: wrap;
	margin: 0; 
	margin-left: -15px;
	padding: 0;
	font-size: 1rem;
	letter-spacing: 0.1em;
}
/* footer */

.footer{
    padding: 40px 0 20px;
    background: #e48cac;
}

.pagetop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
}
.footer-logo{
    padding-bottom: 20px;
}

@media screen and (max-width:768px){

.inner2{
    padding: 0 20px;
}

.arc img{
    padding: 150px 0;
}

.top-ml{
    width: 45%;
}

.top-rmc{
    width: 43%;
    bottom: 50px;
}

/* nav */

.overflow{
    overflow: hidden;
}


.header{
    width: 100%;
    padding: 0 20px;
    background-color: #f9f7f6;
    position: fixed;
    z-index: 100;	
}
.nav_button{
    display: block;
    cursor: pointer;
}
.nav_wrap{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 50;
    padding-top: 100px;
}
.nav{
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
.nav_wrap li{
    display: block;
    margin: 30px 20px;
}
.nav_menu li:last-of-type{
    margin-bottom: 20px;
}

.nav_menu{
    text-align: center;
}

/*メニューボタンエフェクト*/
.nav_button, .nav_button span{
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
}
.nav_button{
    z-index: 70;
    position: fixed;
    right: 20px;
    top: 30px;
    width: 60px;
    height: 30px;
}
.nav_button span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #e48cac
}
.nav_button span:nth-of-type(1){
    top: 0;
}
.nav_button span:nth-of-type(2){
    top: 14px;
}
.nav_button span:nth-of-type(3){
    bottom: 0;
}
.nav_button.active span:nth-of-type(1){
    -webkit-transform: translateY(14px) rotate(-45deg);
    transform: translateY(14px) rotate(-45deg);
}
.nav_button.active span:nth-of-type(2){
    opacity: 0;
}
.nav_button.active span:nth-of-type(3){
    -webkit-transform: translateY(-14px) rotate(45deg);
    transform: translateY(-14px) rotate(45deg);
}

/* first */
.section-top2{
    display: block;
}

.topic{
    width: 100%;
    text-align: center;
}

.box2{
    width:100%;
    margin: 60px 0;
}

.first01{
    width: 90%;
}

.first03 {
    width: 80%;
}

.first02{
    width: 90%;
}

/* pickup */
.first-item2{
    display: block;
}

.list-img{
    width: 100%;
}

/* product */
.p-item{
    width: 50%;
}

}
